# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Melos / workspace
.melos_tool/

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Local env / secrets
*.env
